// LATO

@font-face {
  font-family: "custom_lato";
  src: url("../fonts/lato/lato_regular.ttf");
}

// CENTURY GOTHIC

@font-face {
  font-family: "custom_century_gothic_regular";
  src: url("../fonts/century_gothic/century_gothic_regular.ttf");
}

@font-face {
  font-family: "custom_century_gothic_bold";
  src: url("../fonts/century_gothic/century_gothic_bold.ttf");
}
