.main_container {
  width: 1320px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(8, 150px);
  grid-template-rows: repeat(4, 195px);
  grid-column-gap: 17px;
  .sentence_say {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 150px 120px 0;
    border-color: transparent #ff5050 transparent transparent;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .illustration_container {
    grid-column: 1 / 4;
    grid-row: 2 / 5;
  }
  .form {
    grid-column: 5 / 8;
    grid-row: 2 / 5;
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-column-gap: 17px;
    grid-template-rows: repeat(3, 195px);
    .input_container {
      grid-column: 1 / 4;
      height: 0;
      width: 424px;
      border-right: 30px solid transparent;
      border-left: 30px solid transparent;
      position: relative;
      input {
        width: 100%;
        height: 65px;
        background-color: transparent;
        text-align: center;
        font-family: "custom_lato";
        font-size: 40px;
        position: absolute;
        left: 0;
        color: #500000;
        &::placeholder {
          font-size: 40px;
          color: #A00;
        }
      }
    }
    .input_find_container {
      grid-row: 1 / 2;
      align-self: end;
      border-bottom: 65px solid #ff5050;
    }
    .input_replace_container {
      grid-row: 3 / 4;
      border-top: 65px solid #ff5050;
      input {
        top: -65px;
      }
    }
    .input_verif {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      height: 39px;
      width: 100%;
      background-color: #ff7d64;
      position: relative;
      font-family: "custom_lato";
      font-size: 24px;
      padding-top: 5px;
      color: #500000;
      box-sizing: border-box;
      &::before, &::after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        top: 0;
      }
      &::before {
        left: -17px;
      }
      &::after {
        right: -17px;
      }
    }
    .input_find_verif {
      &::before {
        border-left: 17px solid transparent;
        border-top: 39px solid #ff7d64;
      }
      &::after {
        border-right: 17px solid transparent;
        border-top: 39px solid #ff7d64;
      }
    }
    .input_replace_verif {
      align-self: end;
      &::before {
        border-left: 17px solid transparent;
        border-bottom: 39px solid #ff7d64;
      }
      &::after {
        border-right: 17px solid transparent;
        border-bottom: 39px solid #ff7d64;
      }
    }
    .timer {
      grid-column: 1 / 4;
      grid-row: 2 / 3;
      height: 8px;
      width: 100%;
      margin: auto;
      background-color: #ffc2c0;
      align-self: center;
    }
  }
}

@media (max-height: 930px) {
  .main_container {
    grid-template-rows: 125px repeat(3, 195px);
  }
}
